<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>change</title>
  </head>
  <body>
    <h3>change password</h3>
    <form class="" action="/change" method="POST">
      <input type="text" value="" name="username" placeholder="email">
      <input type="text" name="oldPassword" value="" placeholder="oldPassword">
      <input type="text" value="" name="newPassword" placeholder="newPassword">

      <button>change</button>
    </form>
  </body>
</html>
