<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>homepage</title>
  </head>
  <body>
    <h1>hi there</h1>
    <li><a href="/register">Sign Up</a></li>
    <li><a href="/login">login</a></li>
    <li> <a href="/logout">logout</a>  </li>
    <li><a href="/change">change</li>
      <li><a href="/forget"> forget</li>
  </body>
</html>
